[Unit]
Description=eFEX Automatic Workflow System
After=network.target

[Service]
Environment="PATH=/sbin:/bin:/usr/sbin:/usr/local/bin:/usr/bin:/opt/Xilinx/Vivado/2017.3/bin/:/opt/cactus/bin/uhal/tools/"
Environment="XILINXD_LICENSE_FILE=2112@lxlicen01,2112@lxlicen02,2112@lxlicen03"
Type=simple
User=efex
ExecStart=/home/efex/AutomationScripts/aws_webhook.py 8000
#Restart=on-abort

[Install]
WantedBy=multi-user.target
